---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Moon Jelly - Contact">
  <div>
    <h2>Contact</h2>
    <div class="fake-img">SOCIAL MEDIA HERE</div>
    <div class="fake-img">SIMPLE CONTACT FORM</div>
  </div>
</Layout>
