---
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";

// import tabletImage from "../assets/images/tabletlayer.png";
---

<Layout title="Moon Jelly - Home">
  <div>
    <div class="content">
      <div>
        <div>
          <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi voluptatum dolorem vitae reprehenderit similique odit, fugit possimus, ad amet voluptates ipsum rerum unde nulla perferendis, eius molestiae quisquam odio nam?
            Provident numquam, quod similique vel quibusdam ex eos aut asperiores, officia pariatur quia ipsum amet cum quasi voluptate eum voluptatibus id. Dicta atque itaque esse aliquid maiores voluptatem magni! Eum?
            Necessitatibus aut expedita dolore, eos aliquid eius, eveniet ducimus enim assumenda distinctio laborum perspiciatis veritatis ab quae cumque nihil possimus quam dolor corporis sequi autem tenetur? Ad hic nobis vitae.
            Cupiditate a vitae in enim quos harum, unde dolorum laudantium! Eveniet dolorem error officia ullam velit voluptate. Reiciendis modi, exercitationem voluptatibus esse deserunt nulla consequatur fuga eum, porro quidem debitis.
            Molestias, quasi error omnis voluptas molestiae distinctio pariatur aliquam, numquam eveniet laborum unde similique eos quas! Aperiam est eum vel officiis voluptates, hic tenetur ratione exercitationem ea placeat recusandae? Similique.
            Quia culpa quidem optio illum unde maiores. Ex explicabo alias voluptatibus? Nulla incidunt dolores facilis, voluptatum corrupti a libero vel distinctio! Adipisci, velit ex. Veniam consequatur necessitatibus dolorem quibusdam eligendi?
            Excepturi ex repudiandae harum quam accusantium? Repellat, cupiditate. Optio voluptatem aspernatur numquam dolor repellat tempora provident facilis quae voluptates architecto blanditiis debitis eum, voluptatum ratione ea aperiam sed odit suscipit.
            Doloremque optio molestias dolores recusandae suscipit necessitatibus inventore vitae? Molestiae voluptatem, nesciunt eum alias asperiores soluta quidem nemo adipisci rerum laborum? Blanditiis quod laborum aliquam amet eveniet tempora porro quis!
            Amet quia in possimus praesentium a ea sint, suscipit beatae. Corporis quod distinctio neque deserunt! Exercitationem, labore id. Repellendus nihil consequatur molestiae tempora deserunt nostrum, quod obcaecati. Maxime, delectus consectetur.
            Deserunt eum nobis enim eaque, sapiente vitae necessitatibus officiis, fugit architecto similique, at tenetur fuga in iste rem? Quisquam, nobis corporis? Distinctio maiores impedit iure nisi sed minus consequuntur eveniet.
            Corporis ducimus obcaecati quis similique molestias rerum dolorem commodi adipisci nostrum nam explicabo distinctio aperiam, ratione natus consequatur? Doloribus atque et doloremque. Tenetur, quasi aspernatur? Quidem necessitatibus numquam pariatur nemo?
            Necessitatibus, aperiam aliquam. Vel placeat pariatur repudiandae, quasi dolores, voluptatibus quae ab temporibus amet necessitatibus eius obcaecati tenetur. Numquam culpa reprehenderit nobis temporibus maiores explicabo natus, magnam exercitationem ea esse.
            Aliquam nulla ducimus consequatur quas maiores blanditiis natus? Voluptate exercitationem libero praesentium quod facere, enim officia! Pariatur, modi provident consectetur, cumque vel possimus necessitatibus aliquam eos saepe deserunt adipisci excepturi.
            Ratione sed quibusdam corporis. Ex quasi fugit, saepe atque autem tempora quisquam fuga adipisci minus maiores debitis. Iste mollitia assumenda provident sunt, facere ipsam! Sequi ullam vero fugiat nisi officiis.
            Aut molestias nobis quae tempore voluptatem libero nemo non! Inventore dolore amet error! Exercitationem quo architecto asperiores aliquam voluptatibus assumenda nihil, voluptate quibusdam rerum a illo enim error hic numquam!
            Aut iusto blanditiis nobis suscipit quae sed dolorum praesentium, fugit maiores nisi reprehenderit et quibusdam fugiat hic nihil unde autem voluptatum in voluptas magni? Voluptates deserunt maxime placeat molestiae officia!
            Iste quae ad rerum commodi totam fuga vero est, odit maiores deleniti libero veritatis ipsam doloribus sunt recusandae aspernatur accusamus ea cupiditate, quaerat tempore quisquam similique voluptates odio cum. Mollitia!
            Perspiciatis numquam impedit earum velit? Culpa sit in veniam, temporibus est debitis ut commodi, id architecto harum dicta quidem voluptatibus dolorem alias qui aut officia? Dolores quis a amet autem.
            Incidunt voluptates velit, deserunt culpa laudantium veritatis sunt. Laboriosam odit accusantium officiis quibusdam, facere laborum corporis eum. Quaerat sit minima sunt quod in tempora id ut asperiores ipsum quas! Iste.
            Neque fugit assumenda beatae voluptates et libero eveniet ipsa ducimus placeat blanditiis in magnam rem praesentium soluta ex recusandae vitae doloribus autem vero, odio, necessitatibus perspiciatis? Delectus et sapiente accusantium?
            Porro sequi placeat sed magnam incidunt dolor enim animi quas obcaecati odio veniam dignissimos, sunt at laborum esse quaerat aspernatur! Consequuntur recusandae repellendus blanditiis omnis nulla corrupti fugiat est pariatur!
            Molestias commodi et vel natus beatae repellendus rem perspiciatis facere illum maxime, fugit iure ullam dolore quasi autem esse impedit voluptate voluptatibus odio ea alias adipisci! Sequi temporibus consequatur illo?
            Ullam autem illo itaque tenetur cumque consectetur alias, nostrum corrupti eius unde delectus sit hic, officia facilis. Eius similique explicabo non nobis velit facere distinctio a veritatis, aliquid sequi vero.
            Architecto earum et asperiores aliquid magnam quam numquam alias voluptatem praesentium natus recusandae, itaque illum pariatur, quaerat facere est nemo repellendus unde corporis! Eveniet, eligendi unde tempora odio ducimus libero.
            Deleniti pariatur voluptates et dolore nesciunt, suscipit sapiente aliquid impedit. Vel quibusdam iure ex at beatae, ipsam architecto quisquam itaque deserunt, explicabo doloremque non quidem aliquam placeat, obcaecati expedita repellat.
            Error similique aut aliquam est repellendus eum adipisci fugit minus corporis eveniet aspernatur quibusdam corrupti, excepturi at rem, commodi nobis! Labore velit veniam nam iste provident voluptatum voluptas, exercitationem id?
            Quam rem ab, distinctio est asperiores obcaecati id non qui eius iusto nisi fuga sit nesciunt reiciendis assumenda. Quis nam voluptatum praesentium optio, sunt dignissimos architecto facere eveniet provident molestiae!
            Asperiores, soluta, consequuntur sequi ratione ipsa quasi odit vero doloribus rerum eius dolorem sit molestiae voluptates quam libero. Pariatur accusamus totam veniam ipsa ut eveniet. Nihil ea incidunt molestias exercitationem.
            Nobis corrupti cupiditate veritatis deserunt suscipit, ex vero adipisci, culpa facere placeat voluptas facilis, ducimus qui esse sequi dolore nam! Veniam molestiae quae similique quos exercitationem et commodi maiores porro.
            Omnis, sequi error nihil quo, quos explicabo fugiat adipisci, consectetur maxime laudantium tempore illum facere illo quas. Voluptatem accusantium neque iure! Cum eius numquam nam illum, reiciendis nemo aliquid atque.
            Distinctio numquam maxime, vitae qui quam quaerat aspernatur iusto ratione molestiae hic quas labore quod, nobis ad quibusdam explicabo odio adipisci fuga corrupti ut molestias voluptatem maiores saepe. Quaerat, eligendi.
            Commodi, enim quis atque eius tenetur aspernatur pariatur suscipit, perspiciatis blanditiis exercitationem, earum voluptatibus mollitia culpa ipsum. Fugit, saepe animi nostrum, ratione soluta nisi laudantium accusantium assumenda aliquam aliquid tenetur!
            Alias eos sequi minus architecto! Doloribus repellendus in, magnam dolores temporibus illum similique? Eius animi distinctio nisi quo voluptatum maiores libero architecto doloremque? Quidem consectetur optio quae, aliquam quisquam illum?
            Molestias ex fuga deleniti similique, laudantium magni. Dolores aut at quos magnam quis asperiores corporis fugiat rem iste? Nam, qui voluptates quisquam ipsam ex blanditiis porro? Facere, ducimus! Minima, velit?
            Eum exercitationem nam fugit, perferendis accusamus, modi dignissimos saepe, consequuntur provident dicta labore iure natus voluptate itaque corporis? Velit deleniti ea consequatur perferendis esse fugit ipsam eligendi, enim officiis reiciendis!
            Nobis dignissimos neque architecto blanditiis? Veritatis fugiat est iusto assumenda aliquam provident quidem et. Quasi delectus reiciendis quidem velit reprehenderit. Aut, quaerat voluptatum corrupti eveniet rem aspernatur provident perspiciatis quidem.
            Nam soluta autem nihil eligendi, quis aut reprehenderit inventore incidunt temporibus fugit quibusdam dolorum libero quisquam vero fugiat ratione laboriosam quas alias dolores ducimus maxime dolor? Officiis quam suscipit enim.
            Illum, fugit voluptas nam sed blanditiis possimus totam quas distinctio quaerat mollitia reprehenderit, at vitae repellat? Molestiae suscipit optio natus ab delectus, illum incidunt porro, aut magni officiis corporis! Earum!
            Neque odio maiores rerum labore magni fuga fugiat! Obcaecati earum maiores omnis debitis nobis cupiditate labore nam minus esse voluptate consequuntur consequatur aliquid enim nulla nemo veritatis, quod aperiam dicta.
            Debitis cumque, consequuntur labore blanditiis non omnis magnam ullam autem quas accusantium facere aperiam veritatis. Consequatur maxime perferendis hic, saepe, tempore cupiditate aliquam, ipsam placeat beatae numquam veniam eaque pariatur!</p>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 4rem;
  // padding-block-start: 5.5rem;
  overflow: hidden;
  height: 550px;
  background-image: url(../assets//images/tabletlayer.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  position: relative
}

.content > * {
  position: absolute;
  // inset: 6rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5rem;
}

.content > * > * {
  // width: 100%;
  height: 100%;
  overflow-y: auto;
}
</style>