---
import Layout from '../layouts/Layout.astro';

import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="Welcome to Astro.">
	<div class="main-container">
		<Header/>
		<Nav/>	  
		<!--   main -->
		<main>
		  <div class="content">
			<!--       about me -->
			<div>
			  <div class="fake-img">
				IMAGE HERE
			  </div>
			  <h2>About Me</h2>
			  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet tempore odio vel. Cumque exercitationem eaque suscipit ad, ducimus corrupti minima maiores magni, laborum deserunt corporis! Dolore eaque dolorem deserunt illum!</p>
	  
			  <h2>Some extra yapping</h2>
			  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla similique error quis distinctio iusto! Autem, dolorem odit. Doloribus rerum officia asperiores id esse, rem officiis, soluta, blanditiis fugiat iste repellat?</p>
			  <div class="fake-img">
				SAMPLES HERE
			  </div>
			</div>
			<!--       commissions -->
			<div>
			  <div>
				<h2>Commissions</h2>
				<h3>BGM:</h3>
				<p>Background songs ideal for games, videos, and streamer opening/ending/chatting screens.</p>
	  
				<h4>Type A:</h3>
				  <p>Simple, loopable music that’s slow to medium in speed.</p>
				  <p>Sounds: Lofi, Acoustic, Atmospheric, Piano, Lullaby</p>
				  <p>$300 per ~60s</p>
				  <p>+$100 per additional 30s</p>
	  
				  <h4>Type B:</h3>
					<p>Loopable music that’s medium to fast in speed or with complex composition/sounds.</p>
					<p>Sounds: Rock, Pop, EDM, Orchestral Rock, Epic</p>
					<p>$375 per ~60s</p>
					<p>+$125 per additional 30s</p>
	  
					<h3>Full Production:</h3>
					<p>An original song fully managed by me that includes composition, production, writing, singing, and mixing. Ideal for OPs, EDs, and theme songs. Services are removable if you would like to sing and/or write.</p>
	  
					<h4>Type A:</h3>
					  <p>A slow, simple song with minimal instruments, focused mainly on the voice of the song.</p>
					  <p>Sounds: Lofi, Acoustic, Jazz, Piano, Lullaby</p>
					  <p>$700 for ~90s +$200 per additional 30s</p>
	  
					  <h4>Type B:</h3>
						<p>A complex song with more sounds.</p>
						<p>Sounds: Rock, Pop, EDM, Orchestral Rock, Epic, Anime OP</p>
						<p>$1200 for ~90s +$300 per additional 30s</p>
	  
						<h4>Differences:</h3>
						  <ul>
							<li>Your vocal(s): +$100 per singer</li>
							<li>Your vocal(s), lyrics, melody, and mixing: -$300</li>
						  </ul>
	  
						  <h4>Deliverables:</h3>
							<ul>
							  <li>Full song in .mp3 and .wav format</li>
							  <li>Instrumental in .mp3 and .wav format</li>
							  <li>Lyrics in .txt (if applicable)</li>
							  <li>*License thing should be thought about some more.*</li>
							</ul>
	  
							<h4>Add-on Deliverables:</h4>
							<ul>
							  <li>Additional file format +$0</li>
							  <li>Length Cut (etc. 90s cut from a 240s song) +$100</li>
							  <li>Alternative (etc. Slowed, Acapella, Strings-only) +$50</li>
							  <li>Alternative Instrumental (etc. Piano-only) +$50</li>
							</ul>
	  
							<p>For any service with prices not listed in my commissions form, please reach out to me!</p>
			  </div>
	  
			</div>
	  
			<!--       portfolio -->
			<div>
			  <h2>Portfolio</h2>
			  <div class="d-flex">
				<div class="fake-button">Type 1</div>
				<div class="fake-button">Type 2</div>
				<div class="fake-button">Type 3</div>
				<div class="fake-button">Type 4</div>
			  </div>
			  <h3>Some info about it</h3>
			  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, nesciunt! Rerum recusandae deserunt blanditiis tempore voluptatum. Ullam labore nostrum quae architecto rerum perferendis similique quasi eligendi! Vitae, repellendus. At, sit?</p>
			  <div class="fake-img">
				YOUTUBE VIDEO/SPOTIFY
			  </div>
			</div>
	  
			<!--       contact -->
			<div>
			  <h2>Contact</h2>
			  <div class="fake-img">
				SOCIAL MEDIA HERE
			  </div>
			  <div class="fake-img">
				SIMPLE CONTACT FORM
			  </div>
			</div>
		  </div>
		</main>
	  </div>
</Layout>
