---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Moon Jelly - Home">
  <div>
    <div class="fake-img">IMAGE HERE</div>
    <h2>About Me</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet tempore odio
      vel. Cumque exercitationem eaque suscipit ad, ducimus corrupti minima
      maiores magni, laborum deserunt corporis! Dolore eaque dolorem deserunt
      illum!
    </p>

    <h2>Some extra yapping</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla similique
      error quis distinctio iusto! Autem, dolorem odit. Doloribus rerum officia
      asperiores id esse, rem officiis, soluta, blanditiis fugiat iste repellat?
    </p>
    <div class="fake-img">SAMPLES HERE</div>
  </div>
</Layout>
