---
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";

import tabletImage from "../assets/images/Tablet.png";
---

<Layout title="Moon Jelly - Home">
  <div>
    <div class="content">
      <Image src={tabletImage} alt="Display tablet" class="tablet"/>
      some test
    </div>
  </div>
</Layout>

<style>
.content {
  position: relative;
  width: 1000px;
  height: 600px;
}

.tablet {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: contain;
  object-position: top;
}
</style>