---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Moon Jelly - Portfolio">
  <div>
    <h2>Portfolio</h2>
    <div class="d-flex">
      <div class="fake-button">Type 1</div>
      <div class="fake-button">Type 2</div>
      <div class="fake-button">Type 3</div>
      <div class="fake-button">Type 4</div>
    </div>
    <h3>Some info about it</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, nesciunt!
      Rerum recusandae deserunt blanditiis tempore voluptatum. Ullam labore
      nostrum quae architecto rerum perferendis similique quasi eligendi! Vitae,
      repellendus. At, sit?
    </p>
    <div class="fake-img">YOUTUBE VIDEO/SPOTIFY</div>
  </div>
</Layout>
