<!-- <nav id="nav">
  <div class="nav-container">
    <div class="nav-inner">
      <ul>
        <li class="selected">
          <a href="/">About</a>
        </li>
        <li>
          <a href="/commissions">Commissions</a>
          <span class="tag">Open</span>
        </li>
        <li>
          <a href="/portfolio">Portfolio</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  <aside>
    <div class="socials">
      <a
        href="https://www.youtube.com/@MoonJelly"
        target="_blank"
        aria-label="YouTube link Moon Jelly"
        class="svg-container">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M18 3a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H6a5 5 0 0 1-5-5V8a5 5 0 0 1 5-5zM9 9v6a1 1 0 0 0 1.514.857l5-3a1 1 0 0 0 0-1.714l-5-3A1 1 0 0 0 9 9"
          ></path>
        </svg>
      </a>
      <a
        href="https://www.patreon.com/moonjellych"
        target="_blank"
        aria-label="Patreon link Moon Jelly"
        class="svg-container">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 256 256">
          <path
            fill="currentColor"
            d="M232 93.17c0 41-29.69 52.47-53.55 61.67c-8.41 3.24-16.35 6.3-22.21 10.28c-11.39 7.72-18.59 21.78-25.55 35.38c-9.94 19.42-20.23 39.5-43.17 39.5c-12.91 0-24.61-11.64-33.85-33.66s-14.31-51-13.61-77.45c1.08-40.65 14.58-62.68 25.7-74c14.95-15.2 35.24-25.3 58.68-29.2c21.79-3.62 44.14-1.38 62.93 6.3C215.73 43.6 232 65.9 232 93.17"
          ></path>
        </svg>
      </a>
      <a
        href="https://twitter.com/moonjelly0"
        target="_blank"
        aria-label="Twitter/X link Moon Jelly"
        class="svg-container">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="32"
          viewBox="0 0 448 512">
          <path
            fill="currentColor"
            d="M64 32C28.7 32 0 60.7 0 96v320c0 35.3 28.7 64 64 64h320c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm297.1 84L257.3 234.6L379.4 396h-95.6L209 298.1L123.3 396H75.8l111-126.9L69.7 116h98l67.7 89.5l78.2-89.5h47.5zm-37.8 251.6L153.4 142.9h-28.3l171.8 224.7h26.3z"
          ></path>
        </svg>
      </a>
      <a
        href="https://discord.com/invite/V39QJuuCPR"
        target="_blank"
        aria-label="Discord link Moon Jelly"
        class="svg-container">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="m22 24l-5.25-5l.63 2H4.5A2.5 2.5 0 0 1 2 18.5v-15A2.5 2.5 0 0 1 4.5 1h15A2.5 2.5 0 0 1 22 3.5V24M12 6.8c-2.68 0-4.56 1.15-4.56 1.15c1.03-.92 2.83-1.45 2.83-1.45l-.17-.17c-1.69.03-3.22 1.2-3.22 1.2c-1.72 3.59-1.61 6.69-1.61 6.69c1.4 1.81 3.48 1.68 3.48 1.68l.71-.9c-1.25-.27-2.04-1.38-2.04-1.38S9.3 14.9 12 14.9s4.58-1.28 4.58-1.28s-.79 1.11-2.04 1.38l.71.9s2.08.13 3.48-1.68c0 0 .11-3.1-1.61-6.69c0 0-1.53-1.17-3.22-1.2l-.17.17s1.8.53 2.83 1.45c0 0-1.88-1.15-4.56-1.15m-2.07 3.79c.65 0 1.18.57 1.17 1.27c0 .69-.52 1.27-1.17 1.27c-.64 0-1.16-.58-1.16-1.27c0-.7.51-1.27 1.16-1.27m4.17 0c.65 0 1.17.57 1.17 1.27c0 .69-.52 1.27-1.17 1.27c-.64 0-1.16-.58-1.16-1.27c0-.7.51-1.27 1.16-1.27Z"
          ></path>
        </svg>
      </a>
    </div>
  </aside>
  <footer>
    <div class="copyright">
      <p>
        Made by <a
          href="https://github.com/Myntsu"
          target="_blank"
          >Myndi <span class="svg-container icon"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24">
              <g fill="currentColor">
                <path
                  d="M5 6a1 1 0 0 1 1-1h4a1 1 0 1 0 0-2H6a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3v-4a1 1 0 1 0-2 0v4a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6zm10-3a1 1 0 1 0 0 2h2.586l-6.293 6.293a1 1 0 0 0 1.414 1.414L19 6.414V9a1 1 0 1 0 2 0V4a1 1 0 0 0-1-1h-5z"
                ></path>
              </g>
            </svg></span
          ></a>
      </p>
      <small
        >Copyright © <span id="copyright"></span> | All rights reserved</small
      >
    </div>
  </footer>
</nav> -->


<style lang="scss">
//   nav {
//   grid-area: nav;

//   display: flex;
//   flex-direction: column;

//   position: sticky;
//   top: 0;
//   min-height: 100%;
//   z-index: 9999;
//   overflow-y: auto;
//   background-color: hsl(var(--soft-pink));

//   transition: translate 200ms cubic-bezier(0.02, 0.83, 0.3, 0.97);

//   .nav-container {
//     display: flex;
//     flex-direction: column;
//   }

//   .nav-inner {
//     font-size: 1.5rem;
//     user-select: none;
//     padding-block: 1rem;

//     ul,
//     li {
//       list-style: none;
//       margin: 0;
//       padding: 0;
//     }

//     ul {
//       display: flex;
//       flex-direction: column;
//     }

//     li {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       gap: 1rem;

//       white-space: nowrap;

//       &:is(:hover, :focus-visible, .selected) {
//         background-color: hsl(var(--soft-pink-text));

//         a {
//           padding-inline-start: 1.5rem;
//           color: hsl(var(--text));
//         }

//         .tag {
//           color: hsl(var(--soft-pink-text));
//           background-color: hsl(var(--text));
//         }
//       }
//     }

//     a {
//       width: 100%;
//       height: 100%;

//       padding-inline: 1rem;
//       padding-block: 1.5rem;

//       color: hsl(var(--soft-pink-text));
//       text-decoration: none;
//       font-weight: 700;

//       transition: padding-inline-start 150ms linear;
//     }

//     .tag {
//       display: flex;
//       justify-content: center;
//       align-items: center;

//       width: 5rem;
//       margin-inline-end: 0.5rem;
//       padding-block: 0.25rem;

//       color: hsl(var(--text));
//       background-color: hsl(var(--soft-pink-text));
//       border-radius: 99999px;

//       font-size: 0.875rem;
//       font-weight: 700;
//     }
//   }

//   aside {
//     margin-block-start: auto;
//   }

//   .socials {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: 1rem;

//     cursor: pointer;
//     padding-inline: 0.5rem;
//     padding-block: 0.5rem;

//     a {
//       color: hsl(26, 95%, 14%);
//       opacity: 0.5;
//       transition: opacity 100ms linear, scale 100ms linear, rotate 100ms ease-in;

//       &:is(:hover, :focus-visible) {
//         opacity: 1;
//         scale: 1.2;
//         rotate: 5deg;
//         text-shadow: 2px 2px 0 0 red;
//       }

//       &:is(:active) {
//         background-color: hsl(var(--soft-yellow));
//         border-radius: 0.25rem;
//       }
//     }
//   }

//   footer {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
//     gap: 1rem;
//     padding-block: 1rem;
//     text-align: center;
//     color: hsl(26, 95%, 24% / .8);

//     p {
//       margin: 0;
//     }

//     a {
//       display: inline-flex;
//       align-items: center;
//       gap: 0.25rem;
//       color: hsl(26, 95%, 14% / .7);

//       &:is(:hover, :focus-visible) {
//         color: hsl(26, 95%, 14%);

//         .icon {
//           color: hsl(26, 95%, 14%);
//         }
//       }

//       .icon {
//         color: inherit;
//         width: 15px !important;
//         position: relative;
//         top: 1px;
//       }
//     }

//     small {
//       font-size: 0.75rem;
//     }
//   }
// }
</style>