@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text: 0 0% 91%;
  --background: 0 0% 6%;

  --dark-100: 0 0% 11%;
  --dark-300: 0 0% 17%;
  --dark-500: 0 0% 23%;
  --dark-700: 0 0% 29%;
  --dark-900: 0 0% 35%;

  --important: 49 85% 65%;

  --important-100: 49 85% 65%;
  --important-300: 49 85% 71%;
  --important-500: 49 85% 77%;
  --important-700: 49 85% 83%;
  --important-900: 49 85% 89%;

  --success: 100 25% 50%;

  --tag-version: 0 0% 70%;
  --tag-krystal: 200 50% 70%;
  --tag-type: 0 50% 70%;
  --tag-checked: var(--important);
}

::-webkit-scrollbar {
  width: 1rem;
  background-color: transparent;
}

:hover::-webkit-scrollbar {
  background-color: hsl(var(--dark-300));
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

:hover::-webkit-scrollbar-thumb {
  background-color: hsl(var(--text) / 0.7);
}

::selection {
  background-color: hsl(var(--text));
  color: hsl(var(--background));
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-x: -moz-hidden-unscrollable;
  overflow-x: clip;
  scrollbar-gutter: auto;
}

body {
  margin: 0;

  color: hsl(var(--text));
  background: hsl(var(--background));
  font-family: "DM Sans", sans-serif;
}

img {
  display: block;
}

button {
  font-size: inherit;
  font-family: inherit;
}

.important {
  color: hsl(var(--important));
  font-weight: 700;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1;

  &:is(button) {
    color: hsl(var(--text));
  }

  &:is(.icon) {
    width: 24px;
    color: hsl(var(--important));
  }

  &:is(.hamburger-menu) {
    width: 50px;

    background-color: hsl(var(--dark-100));
    border: none;
    border-radius: 50%;

    cursor: pointer;

    &:is(:hover, :focus-visible) {
      background-color: hsl(var(--dark-300));
    }

    &:is(:active) {
      background-color: hsl(var(--dark-500));
    }
  }
}

.main-container {
  --_nav-width: 350px;
  --_header-height: 100px;
  container-type: inline-size;

  display: grid;
  grid-template-areas:
    "header header"
    "nav main";
  grid-template-columns: var(--_nav-width) 1fr;
  grid-template-rows: var(--_header-height) 1fr;

  height: 100%;
  height: 100svh;

  &:has(nav[aria-expanded="false"]) {
    --_nav-width: 0px;
  }

  @media (max-width: 870px) {
    --_nav-width: 0px;
    grid-template-areas:
      "header header"
      "main main";

    nav {
      position: absolute;
      top: var(--_header-height);
      min-height: calc(100% - var(--_header-height));
      translate: -350px 0px;

      &:is(.visible) {
        translate: 0px 0px;
        li {
          &:is(:hover, :focus-visible, .selected) {
            a {
              padding-inline-start: 1rem !important;
            }
          }
        }
      }
    }
  }
}

header {
  grid-area: header;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 1rem;

  h1 {
    font-size: clamp(1.25rem, 0.9615rem + 0.9231vw, 2rem);
  }

  dialog {
    width: 300px;
    border: none;
    border-radius: 5px;
    padding: 20px;
  }

  .settings {
    margin-inline-start: auto;

    .settings-button {
      border: none;
      
    }
  }
}

nav {
  grid-area: nav;

  display: flex;
  flex-direction: column;

  position: sticky;
  top: 0;
  min-height: 100%;
  z-index: 9999;
  overflow-y: auto;
  background-color: hsl(var(--dark-100));

  transition: translate 200ms cubic-bezier(0.02, 0.83, 0.3, 0.97);

  .nav-container {
    display: flex;
    flex-direction: column;
  }

  .nav-inner {
    font-size: 1.5rem;
    user-select: none;
    padding-block: 1rem;

    ul,
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    ul {
      display: flex;
      flex-direction: column;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      white-space: nowrap;

      &:is(:hover, :focus-visible, .selected) {
        background-color: hsl(var(--important));

        a {
          padding-inline-start: 1.5rem;
          color: hsl(var(--background));
        }

        .tag {
          color: hsl(var(--text));
          background-color: hsl(var(--background));
        }
      }
    }

    a {
      width: 100%;
      height: 100%;

      padding-inline: 1rem;
      padding-block: 1.5rem;

      color: hsl(var(--text));
      text-decoration: none;
      font-weight: 700;

      transition: padding-inline-start 150ms linear;
    }

    .tag {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 5rem;
      margin-inline-end: 0.5rem;
      padding-block: 0.25rem;

      color: hsl(var(--background));
      background-color: hsl(var(--important));
      border-radius: 99999px;

      font-size: 0.875rem;
      font-weight: 700;
    }
  }

  aside {
    margin-block-start: auto;
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    cursor: pointer;
    padding-inline: 0.5rem;
    padding-block: 0.5rem;

    a {
      color: hsl(var(--text));
      opacity: 0.5;
      transition: opacity 100ms linear, scale 100ms linear, rotate 100ms ease-in;

      &:is(:hover, :focus-visible) {
        opacity: 1;
        scale: 1.2;
        rotate: 5deg;
        text-shadow: 2px 2px 0 0 red;
      }

      &:is(:active) {
        background-color: hsl(var(--dark-300));
        border-radius: 0.25rem;
      }
    }
  }

  footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding-block: 1rem;
    text-align: center;
    color: hsl(var(--text) / 0.5);

    p {
      margin: 0;
    }

    a {
      display: inline-flex;
      align-items: center;
      gap: 0.25rem;
      color: hsl(var(--important) / 0.7);

      &:is(:hover, :focus-visible) {
        color: hsl(var(--text));

        .icon {
          color: hsl(var(--text));
        }
      }

      .icon {
        color: inherit;
        width: 15px !important;
        position: relative;
        top: 1px;
      }
    }

    small {
      font-size: 0.75rem;
    }
  }
}

main {
  grid-area: main;

  container-type: inline-size;

  background-image: url(https://cdn.discordapp.com/attachments/314296024833196036/1164681617789431938/latest.png?ex=65441948&is=6531a448&hm=9f25b100752249d3b3ab6332bfa80da50a0ad4af22cb42f453f6c40531b49795&);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: fixed;
  overflow-y: scroll;

  .content {
    min-height: 500%;
    padding: 1rem;
    z-index: 0;
    background-color: hsl(var(--dark-500));
    border: 1px solid hsl(200 70% 70%);
    
    & > * {
      width: 100%;
      max-width: 600px;
      margin-inline: auto;
      padding: 1rem;
      border: 1px solid hsl(0 70% 70%);
    }
  }
}

@container (max-width: 600px) {
  main {
    .content {
      align-content: flex-start;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}

.fake-img, .fake-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 150px;
  border: 1px solid hsl(200 70% 70%);
}

.fake-button {
  padding: .5rem 1rem;
  background: none;
  border: 1px solid hsl(80 70% 70%);
}

.d-flex {
  align-self: start;
  display: flex;
  gap: .5rem;
}