@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --soft-orange: #fdd1b0;
  --soft-yellow: #fcf6bc;
  --soft-green: #d6edda;
  --soft-blue: #bde7fb;
  --soft-purple: #e6cbe2;
  --soft-pink: #fbdde9;

  --text: 0 0% 91%;
  --background: 0 0% 6%;

  --dark-100: 0 0% 11%;
  --dark-300: 0 0% 17%;
  --dark-500: 0 0% 23%;
  --dark-700: 0 0% 29%;
  --dark-900: 0 0% 35%;

  --important: 49 85% 65%;

  --important-100: 49 85% 65%;
  --important-300: 49 85% 71%;
  --important-500: 49 85% 77%;
  --important-700: 49 85% 83%;
  --important-900: 49 85% 89%;

  --success: 100 25% 50%;

  --tag-version: 0 0% 70%;
  --tag-krystal: 200 50% 70%;
  --tag-type: 0 50% 70%;
  --tag-checked: var(--important);
}

::-webkit-scrollbar {
  width: 1rem;
  background-color: transparent;
}

:hover::-webkit-scrollbar {
  background-color: hsl(var(--dark-300));
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

:hover::-webkit-scrollbar-thumb {
  background-color: hsl(var(--text) / 0.7);
}

::selection {
  background-color: hsl(var(--text));
  color: hsl(var(--background));
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-x: -moz-hidden-unscrollable;
  overflow-x: clip;
  scrollbar-gutter: auto;
}

body {
  margin: 0;

  color: hsl(var(--text));
  background: hsl(var(--background));
  font-family: "DM Sans", sans-serif;
}

img {
  display: block;
}

button {
  font-size: inherit;
  font-family: inherit;
}

.important {
  color: hsl(var(--important));
  font-weight: 700;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1;

  &:is(button) {
    color: hsl(var(--text));
  }

  &:is(.icon) {
    width: 24px;
    color: hsl(var(--important));
  }

  &:is(.hamburger-menu) {
    width: 50px;

    background-color: hsl(var(--dark-100));
    border: none;
    border-radius: 50%;

    cursor: pointer;

    &:is(:hover, :focus-visible) {
      background-color: hsl(var(--dark-300));
    }

    &:is(:active) {
      background-color: hsl(var(--dark-500));
    }
  }
}