<div class="waves-container">
  <div class="waves">
    <div class="main"></div>
    <div class="footer">
      <div class="bubbles">
        <div
          class="bubble"
          style="--size:36.821410258376105rem; --distance:1.4152951086177623rem; --position:144.10070985959476%; --time:8.127286598025494s; --delay:-11.258222168852793s;">
        </div>
        <div
          class="bubble"
          style="--size:5.587111460514853rem; --distance:0.06516971067756505rem; --position:302.46087012314075%; --time:7.934222353954303s; --delay:-11.356172115171919s;">
        </div>
        <div
          class="bubble"
          style="--size:21.07788914625275rem; --distance:0.3202586506527594rem; --position:308.4275886922172%; --time:7.218294370985554s; --delay:-10.936991113793935s;">
        </div>
        <div
          class="bubble"
          style="--size:14.239689544500163rem; --distance:3.690604530786672rem; --position:139.82236945673654%; --time:8.912724312787734s; --delay:-10.069849856599618s;">
        </div>
        <div
          class="bubble"
          style="--size:19.859326542139748rem; --distance:0.06401975797782788rem; --position:253.7842934401362%; --time:7.445892550238522s; --delay:-10.570373924880133s;">
        </div>
        <div
          class="bubble"
          style="--size:33.629669084612885rem; --distance:0.10470222933731455rem; --position:264.92702825219453%; --time:7.863775179105376s; --delay:-10.010114599258186s;">
        </div>
        <div
          class="bubble"
          style="--size:33.07625704294547rem; --distance:1.0389372887821413rem; --position:228.92288612050172%; --time:7.717760521167158s; --delay:-11.90019156525416s;">
        </div>
        <div
          class="bubble"
          style="--size:32.20680249804837rem; --distance:2.128815170947113rem; --position:154.26105891887144%; --time:7.632996020662345s; --delay:-10.31651162514084s;">
        </div>
        <div
          class="bubble"
          style="--size:35.821727454248624rem; --distance:2.069090912542937rem; --position:305.8827568291373%; --time:8.67943746080174s; --delay:-10.277218826932963s;">
        </div>
        <div
          class="bubble"
          style="--size:22.15956971736017rem; --distance:0.7463654331440039rem; --position:248.2300108089298%; --time:8.524520911996238s; --delay:-10.473801898154655s;">
        </div>
        <div
          class="bubble"
          style="--size:29.63897888017221rem; --distance:3.384352951127243rem; --position:57.055085846314206%; --time:7.2733189168284325s; --delay:-10.921000593278151s;">
        </div>
        <div
          class="bubble"
          style="--size:10.462319663063449rem; --distance:0.7622095571461596rem; --position:69.00426565900509%; --time:8.843293179962474s; --delay:-10.556191106383062s;">
        </div>
        <div
          class="bubble"
          style="--size:17.69340034550887rem; --distance:0.9355546392460101rem; --position:210.96882296550424%; --time:8.261638672615671s; --delay:-10.554631062349733s;">
        </div>
        <div
          class="bubble"
          style="--size:29.261362492608775rem; --distance:0.7689434171075993rem; --position:125.38878667855774%; --time:8.50398601546267s; --delay:-10.239759853509405s;">
        </div>
        <div
          class="bubble"
          style="--size:18.570797609346663rem; --distance:2.494835983583321rem; --position:214.50476846092147%; --time:8.896141347475067s; --delay:-11.697052384242765s;">
        </div>
        <div
          class="bubble"
          style="--size:8.146244281604922rem; --distance:1.0207849586007778rem; --position:181.6420916600604%; --time:7.150522159252554s; --delay:-10.102188475907408s;">
        </div>
        <div
          class="bubble"
          style="--size:7.860536801051481rem; --distance:1.574061102707568rem; --position:127.92974247951622%; --time:7.238045011266022s; --delay:-11.107007259221147s;">
        </div>
        <div
          class="bubble"
          style="--size:33.00199093268595rem; --distance:1.6832473330819664rem; --position:109.01806762308225%; --time:7.825364445633156s; --delay:-11.376286628966184s;">
        </div>
        <div
          class="bubble"
          style="--size:10.739299003903486rem; --distance:3.864576351130644rem; --position:132.4525172177955%; --time:7.005705754577744s; --delay:-10.7391798943974s;">
        </div>
        <div
          class="bubble"
          style="--size:20.497204010113215rem; --distance:1.3412788350215321rem; --position:70.34154744311151%; --time:8.034540647806637s; --delay:-11.034299428467206s;">
        </div>
        <div
          class="bubble"
          style="--size:40.60489602090012rem; --distance:2.2613251686148486rem; --position:262.9213406451675%; --time:8.741854537977979s; --delay:-10.508252685925374s;">
        </div>
        <div
          class="bubble"
          style="--size:25.69825223670299rem; --distance:3.94402685714497rem; --position:151.47184976620767%; --time:8.98860890655591s; --delay:-11.340239562965694s;">
        </div>
        <div
          class="bubble"
          style="--size:31.49944299124444rem; --distance:4.749216402967541rem; --position:215.87650834918915%; --time:7.972724255828787s; --delay:-10.328225588047669s;">
        </div>
        <div
          class="bubble"
          style="--size:24.795637879321546rem; --distance:1.4426542013770627rem; --position:53.47729866267714%; --time:7.548511299378771s; --delay:-10.24878226692604s;">
        </div>
        <div
          class="bubble"
          style="--size:35.62044430677912rem; --distance:0.6739318338954092rem; --position:142.23979652890492%; --time:8.806363034987154s; --delay:-10.391232165903084s;">
        </div>
        <div
          class="bubble"
          style="--size:9.7588529310858rem; --distance:4.899226926938286rem; --position:59.153077602498044%; --time:7.844748891290763s; --delay:-10.50389006543017s;">
        </div>
        <div
          class="bubble"
          style="--size:10.487361238459503rem; --distance:1.2520713440068876rem; --position:305.77526613730953%; --time:8.95898253465858s; --delay:-11.690550773907514s;">
        </div>
        <div
          class="bubble"
          style="--size:10.650477538995453rem; --distance:4.369568312422198rem; --position:221.30238581366393%; --time:7.795606864596735s; --delay:-11.415064669573972s;">
        </div>
        <div
          class="bubble"
          style="--size:19.24450658007105rem; --distance:2.91120438610215rem; --position:114.00586097600561%; --time:8.643975996968663s; --delay:-11.40526372128393s;">
        </div>
        <div
          class="bubble"
          style="--size:18.881517525672614rem; --distance:3.2838530912226496rem; --position:38.716806667681865%; --time:7.386043959791467s; --delay:-10.087526584573798s;">
        </div>
        <div
          class="bubble"
          style="--size:21.182834465005502rem; --distance:2.6467412224751663rem; --position:257.89329376318454%; --time:8.761809993339735s; --delay:-10.002997363089484s;">
        </div>
        <div
          class="bubble"
          style="--size:42.71839405523728rem; --distance:4.2501170388708065rem; --position:49.84810390798616%; --time:8.510327384998789s; --delay:-10.176188944034408s;">
        </div>
        <div
          class="bubble"
          style="--size:12.42194161512188rem; --distance:4.060298779354291rem; --position:41.289825153204205%; --time:7.773035898796763s; --delay:-11.807390607217538s;">
        </div>
        <div
          class="bubble"
          style="--size:15.941380330795374rem; --distance:3.6955357259350405rem; --position:113.65778595908012%; --time:7.989087251027251s; --delay:-10.774114909709837s;">
        </div>
        <div
          class="bubble"
          style="--size:20.15852206502518rem; --distance:1.015826589638742rem; --position:86.1290770702665%; --time:7.585337692047287s; --delay:-10.590254134100324s;">
        </div>
        <div
          class="bubble"
          style="--size:20.10084811161977rem; --distance:1.8695690961663003rem; --position:83.00344825412026%; --time:8.016796254321466s; --delay:-10.50053585265896s;">
        </div>
        <div
          class="bubble"
          style="--size:33.43750693308205rem; --distance:2.583720950284989rem; --position:280.85770805425904%; --time:8.764193666498588s; --delay:-10.128166699273836s;">
        </div>
        <div
          class="bubble"
          style="--size:31.21799153255192rem; --distance:2.0909892689366973rem; --position:39.20886518119051%; --time:8.396036141122757s; --delay:-10.089254998521412s;">
        </div>
        <div
          class="bubble"
          style="--size:19.514698483492303rem; --distance:1.2950480491239702rem; --position:300.2393616454939%; --time:7.344822070266583s; --delay:-11.47737632130907s;">
        </div>
        <div
          class="bubble"
          style="--size:36.036788664891866rem; --distance:2.5494736274441143rem; --position:152.65097059981835%; --time:8.687120001389445s; --delay:-11.333098891845717s;">
        </div>
        <div
          class="bubble"
          style="--size:12.195450428137189rem; --distance:1.682359470403204rem; --position:20.85442906863757%; --time:7.669425026981873s; --delay:-10.818234725943901s;">
        </div>
        <div
          class="bubble"
          style="--size:19.852535167749508rem; --distance:2.884483123442937rem; --position:257.5643911909419%; --time:7.173579290620793s; --delay:-11.127884704558054s;">
        </div>
        <div
          class="bubble"
          style="--size:5.210540428665267rem; --distance:2.866923221876446rem; --position:207.47153987504473%; --time:8.443023806745062s; --delay:-11.458456201666198s;">
        </div>
        <div
          class="bubble"
          style="--size:41.54436550990585rem; --distance:3.7658611394290697rem; --position:262.375910641804%; --time:8.704847155296939s; --delay:-11.478729781865248s;">
        </div>
        <div
          class="bubble"
          style="--size:17.487660210213605rem; --distance:3.6699219264376373rem; --position:154.98922509120797%; --time:7.471714980283476s; --delay:-11.051203781962823s;">
        </div>
        <div
          class="bubble"
          style="--size:26.618271781466454rem; --distance:2.4029943157640576rem; --position:85.03194723220885%; --time:7.463979251102524s; --delay:-10.780294209284099s;">
        </div>
        <div
          class="bubble"
          style="--size:40.911506364811615rem; --distance:4.240188224189113rem; --position:142.6583733723291%; --time:7.159367736300945s; --delay:-11.903586761490908s;">
        </div>
        <div
          class="bubble"
          style="--size:37.57733925597446rem; --distance:2.400957553725509rem; --position:157.61833202436537%; --time:7.392165610694567s; --delay:-10.903757515714462s;">
        </div>
        <div
          class="bubble"
          style="--size:32.41352526342584rem; --distance:2.707212172168336rem; --position:93.7836649877549%; --time:8.534623146700852s; --delay:-10.240819116093986s;">
        </div>
        <div
          class="bubble"
          style="--size:10.946969924429917rem; --distance:0.5585194478416244rem; --position:97.95653603000162%; --time:8.44497417456438s; --delay:-11.87844660248222s;">
        </div>
        <div
          class="bubble"
          style="--size:18.945637080229716rem; --distance:2.890305059953665rem; --position:274.3275705256881%; --time:7.927021509084913s; --delay:-10.422222528597729s;">
        </div>
        <div
          class="bubble"
          style="--size:37.85587584403123rem; --distance:1.1809932259667644rem; --position:220.75530765664467%; --time:7.483774355362014s; --delay:-10.804702980254964s;">
        </div>
        <div
          class="bubble"
          style="--size:35.585082048957275rem; --distance:2.0539884585401715rem; --position:-0.5122448190661868%; --time:7.688659952411882s; --delay:-11.202500523689118s;">
        </div>
        <div
          class="bubble"
          style="--size:31.99511254272749rem; --distance:2.1442135258255957rem; --position:22.89937938827577%; --time:8.161839942228852s; --delay:-11.094939719121381s;">
        </div>
        <div
          class="bubble"
          style="--size:8.473844801362613rem; --distance:4.406715919053921rem; --position:31.840394576236505%; --time:8.78816369026001s; --delay:-10.495278299411888s;">
        </div>
        <div
          class="bubble"
          style="--size:19.8734355851063rem; --distance:3.920018470104334rem; --position:116.59157164606718%; --time:8.898252572246957s; --delay:-10.65914005761657s;">
        </div>
        <div
          class="bubble"
          style="--size:31.087799078182023rem; --distance:2.4322870702685826rem; --position:1.751830147333194%; --time:8.695659459801039s; --delay:-11.576098459726978s;">
        </div>
        <div
          class="bubble"
          style="--size:25.375678889781142rem; --distance:1.5957719702977957rem; --position:21.445534961286427%; --time:7.1114426380913s; --delay:-11.153656377813325s;">
        </div>
        <div
          class="bubble"
          style="--size:44.90634624948244rem; --distance:4.423171614133658rem; --position:152.86028871752453%; --time:7.051740553140153s; --delay:-11.313701586532298s;">
        </div>
        <div
          class="bubble"
          style="--size:29.48546502830922rem; --distance:2.9884020555089186rem; --position:138.17560512263094%; --time:7.181828018894032s; --delay:-10.39251931718396s;">
        </div>
        <div
          class="bubble"
          style="--size:16.177427227465593rem; --distance:3.0119412753372456rem; --position:198.7397752867338%; --time:8.03907268845093s; --delay:-10.894451457597398s;">
        </div>
        <div
          class="bubble"
          style="--size:35.63143826029774rem; --distance:0.14983874247500695rem; --position:8.651201697122477%; --time:8.559023566419246s; --delay:-10.322780587852234s;">
        </div>
        <div
          class="bubble"
          style="--size:38.998948173347486rem; --distance:1.9805446770636603rem; --position:51.04550047974685%; --time:8.476335990610325s; --delay:-11.633101529483175s;">
        </div>
        <div
          class="bubble"
          style="--size:9.790599110508325rem; --distance:1.6532758507323042rem; --position:230.2643750478182%; --time:7.684774575732527s; --delay:-10.156031365174725s;">
        </div>
        <div
          class="bubble"
          style="--size:18.911095212221937rem; --distance:2.4329156950963258rem; --position:140.6708670359604%; --time:8.330922754675123s; --delay:-10.737136007285153s;">
        </div>
        <div
          class="bubble"
          style="--size:6.320385866783811rem; --distance:1.641956572934472rem; --position:234.0370862372764%; --time:7.393502626885255s; --delay:-11.548066189866862s;">
        </div>
        <div
          class="bubble"
          style="--size:22.59894618496336rem; --distance:0.30241234692344965rem; --position:264.03133056484177%; --time:8.275539032074963s; --delay:-10.197141022080807s;">
        </div>
        <div
          class="bubble"
          style="--size:41.57877118135835rem; --distance:4.803485886236407rem; --position:67.54358407953866%; --time:7.291865088225636s; --delay:-10.166950949118293s;">
        </div>
        <div
          class="bubble"
          style="--size:15.416261901803843rem; --distance:0.7336482088851415rem; --position:99.74052489056008%; --time:8.284225898564165s; --delay:-11.48640854011468s;">
        </div>
        <div
          class="bubble"
          style="--size:19.11242128254529rem; --distance:2.245943623863915rem; --position:105.41171235623426%; --time:7.520267344567788s; --delay:-11.92395446005743s;">
        </div>
        <div
          class="bubble"
          style="--size:30.981765139504624rem; --distance:2.6382755280875747rem; --position:236.31285148320816%; --time:8.719977759541637s; --delay:-11.457534943946518s;">
        </div>
        <div
          class="bubble"
          style="--size:23.3575824605649rem; --distance:4.932913304049609rem; --position:262.76465286743604%; --time:8.366713892382155s; --delay:-11.996764787196996s;">
        </div>
        <div
          class="bubble"
          style="--size:27.483391137895747rem; --distance:1.3887353041662764rem; --position:203.9483035060126%; --time:7.123220654090976s; --delay:-11.624168970732208s;">
        </div>
        <div
          class="bubble"
          style="--size:13.87180315145848rem; --distance:4.58661742034133rem; --position:261.3773566494589%; --time:7.728736027372463s; --delay:-11.36304716353849s;">
        </div>
        <div
          class="bubble"
          style="--size:15.542243426278999rem; --distance:1.6267184873317875rem; --position:241.8244116819444%; --time:8.993226622163515s; --delay:-10.354841972525785s;">
        </div>
        <div
          class="bubble"
          style="--size:27.901192919253877rem; --distance:1.5339135784889824rem; --position:284.0785609657282%; --time:7.15545337463678s; --delay:-11.489305323162252s;">
        </div>
        <div
          class="bubble"
          style="--size:34.53107866891664rem; --distance:4.834369397387812rem; --position:107.39361703124742%; --time:7.921467270661699s; --delay:-11.45484842945667s;">
        </div>
        <div
          class="bubble"
          style="--size:9.361776488433682rem; --distance:3.0836547822437432rem; --position:201.16736554379787%; --time:7.88812000559345s; --delay:-11.758994153206984s;">
        </div>
        <div
          class="bubble"
          style="--size:39.77079059953556rem; --distance:1.5717085819632282rem; --position:39.76421407897183%; --time:7.379204810919246s; --delay:-11.915114615121304s;">
        </div>
        <div
          class="bubble"
          style="--size:24.856146476203325rem; --distance:3.728475693674931rem; --position:253.1327607137597%; --time:7.691920570710003s; --delay:-11.205290573689679s;">
        </div>
        <div
          class="bubble"
          style="--size:8.643931551231008rem; --distance:0.5617610035515286rem; --position:267.00029278486437%; --time:7.639397993932268s; --delay:-11.674824560904517s;">
        </div>
        <div
          class="bubble"
          style="--size:11.224806911893443rem; --distance:3.2282998156699536rem; --position:281.0613132597639%; --time:7.003428293232389s; --delay:-11.206579792242378s;">
        </div>
        <div
          class="bubble"
          style="--size:15.471222186342981rem; --distance:4.992119193707346rem; --position:302.2159812384196%; --time:8.904422750905635s; --delay:-10.701160982361886s;">
        </div>
        <div
          class="bubble"
          style="--size:19.407248316509687rem; --distance:0.1162606488711615rem; --position:197.6897215088893%; --time:7.351722848494351s; --delay:-11.987795464117319s;">
        </div>
        <div
          class="bubble"
          style="--size:34.95298588239298rem; --distance:3.0103068702964206rem; --position:58.40253316857062%; --time:7.2561112753126205s; --delay:-10.078143860936562s;">
        </div>
        <div
          class="bubble"
          style="--size:16.00218498389512rem; --distance:1.3349330615937605rem; --position:13.242079501584627%; --time:7.735795275967801s; --delay:-11.298234689751371s;">
        </div>
        <div
          class="bubble"
          style="--size:13.634599731346508rem; --distance:4.762392273947rem; --position:297.06827442548695%; --time:8.5576760196773s; --delay:-10.875251115577186s;">
        </div>
        <div
          class="bubble"
          style="--size:32.47932480121921rem; --distance:3.5465433687496395rem; --position:263.11045585714436%; --time:7.07281718297512s; --delay:-11.850919305936948s;">
        </div>
        <div
          class="bubble"
          style="--size:36.040626225329234rem; --distance:3.1251195312108218rem; --position:219.5717340173683%; --time:8.87348889737644s; --delay:-11.921089571021607s;">
        </div>
        <div
          class="bubble"
          style="--size:20.92493295228379rem; --distance:2.9296016831678062rem; --position:162.30400036182382%; --time:8.209586987238513s; --delay:-11.25606006086546s;">
        </div>
        <div
          class="bubble"
          style="--size:35.5023335131559rem; --distance:4.574052416143186rem; --position:48.77356673887092%; --time:7.624214065076324s; --delay:-11.558362634401721s;">
        </div>
        <div
          class="bubble"
          style="--size:28.615513439125976rem; --distance:2.3049683271552803rem; --position:44.099172292552126%; --time:7.261625157906233s; --delay:-10.240806365909798s;">
        </div>
        <div
          class="bubble"
          style="--size:29.036339046100544rem; --distance:3.962245764798107rem; --position:151.96301661923513%; --time:7.485937247750478s; --delay:-10.23553713994755s;">
        </div>
        <div
          class="bubble"
          style="--size:5.799566005241532rem; --distance:4.401869164650755rem; --position:121.36601433197707%; --time:8.262036835683666s; --delay:-11.524616486976287s;">
        </div>
        <div
          class="bubble"
          style="--size:16.851378259430998rem; --distance:2.076809337982508rem; --position:260.5942063546082%; --time:8.091074520706021s; --delay:-10.917718878945914s;">
        </div>
        <div
          class="bubble"
          style="--size:41.69587706929861rem; --distance:3.0567365958656145rem; --position:305.20815369384565%; --time:8.017693253338944s; --delay:-10.604004431332667s;">
        </div>
        <div
          class="bubble"
          style="--size:14.82017967462748rem; --distance:3.315504701546671rem; --position:299.0373109925638%; --time:7.9511959923176505s; --delay:-10.288976351703052s;">
        </div>
        <div
          class="bubble"
          style="--size:29.343074689857076rem; --distance:3.8951608360402745rem; --position:218.7566238871703%; --time:7.2340999691571835s; --delay:-10.734002341969566s;">
        </div>
        <div
          class="bubble"
          style="--size:21.479888735171766rem; --distance:3.5295858984821704rem; --position:34.91170823577165%; --time:7.535954696633664s; --delay:-11.59273423523436s;">
        </div>
        <div
          class="bubble"
          style="--size:27.734771347931915rem; --distance:0.13884268066173377rem; --position:171.73313514764376%; --time:8.28443936802782s; --delay:-11.815575065704971s;">
        </div>
        <div
          class="bubble"
          style="--size:29.033059287149932rem; --distance:4.81946023045203rem; --position:236.69902198292547%; --time:7.743312461005188s; --delay:-10.28510039958066s;">
        </div>
        <div
          class="bubble"
          style="--size:34.80472932765097rem; --distance:3.1153243902313053rem; --position:163.12241005533608%; --time:8.03778424567904s; --delay:-10.874114137828387s;">
        </div>
        <div
          class="bubble"
          style="--size:35.75732320404206rem; --distance:0.6553659092276909rem; --position:20.605188379594154%; --time:7.615291474942696s; --delay:-10.960660016049143s;">
        </div>
        <div
          class="bubble"
          style="--size:40.84045800076099rem; --distance:0.6161728503859043rem; --position:224.55385927278044%; --time:8.089123530924368s; --delay:-10.287625571695092s;">
        </div>
        <div
          class="bubble"
          style="--size:6.589515909188579rem; --distance:3.773133717072943rem; --position:28.3791229510283%; --time:8.703305724456538s; --delay:-11.644968525307242s;">
        </div>
        <div
          class="bubble"
          style="--size:26.800873336410778rem; --distance:2.693425307367865rem; --position:291.7704137605184%; --time:8.695363671647543s; --delay:-10.149723108792678s;">
        </div>
        <div
          class="bubble"
          style="--size:29.402577095226697rem; --distance:0.988951170922121rem; --position:73.04510960750835%; --time:8.744896129585786s; --delay:-10.123654586898798s;">
        </div>
        <div
          class="bubble"
          style="--size:43.66686895464581rem; --distance:3.605868369873501rem; --position:173.24553782515358%; --time:7.980900691150589s; --delay:-11.260551365085771s;">
        </div>
        <div
          class="bubble"
          style="--size:18.33835857996048rem; --distance:1.7064849365434398rem; --position:128.42879045015562%; --time:8.964674181098514s; --delay:-10.32744496357047s;">
        </div>
        <div
          class="bubble"
          style="--size:30.41239470592852rem; --distance:1.4714591207751082rem; --position:22.093990543933568%; --time:8.143258759820636s; --delay:-10.207991268352313s;">
        </div>
        <div
          class="bubble"
          style="--size:25.294070414434717rem; --distance:4.886807429817654rem; --position:294.1009208175435%; --time:8.569017590329006s; --delay:-11.059154686480957s;">
        </div>
        <div
          class="bubble"
          style="--size:32.297291196025164rem; --distance:2.2151037125909556rem; --position:57.27736265644871%; --time:8.947311811179485s; --delay:-10.377701753027704s;">
        </div>
        <div
          class="bubble"
          style="--size:19.612114813434445rem; --distance:3.0459224949237216rem; --position:130.6683395892048%; --time:8.207415921398647s; --delay:-11.58274560852443s;">
        </div>
        <div
          class="bubble"
          style="--size:30.454702134239106rem; --distance:3.498686466758593rem; --position:46.80683591847215%; --time:7.451089782546925s; --delay:-11.075543067812895s;">
        </div>
        <div
          class="bubble"
          style="--size:31.996198237238893rem; --distance:0.563544169341198rem; --position:285.44260789423186%; --time:7.308834992197084s; --delay:-10.142703735532665s;">
        </div>
        <div
          class="bubble"
          style="--size:33.6789727636102rem; --distance:1.9285999411786015rem; --position:116.78952938312987%; --time:8.564239691720964s; --delay:-10.224558522700919s;">
        </div>
        <div
          class="bubble"
          style="--size:7.221111556295634rem; --distance:4.811425741801127rem; --position:202.47106663794798%; --time:7.446102953772433s; --delay:-10.691080757809281s;">
        </div>
        <div
          class="bubble"
          style="--size:31.46634474505572rem; --distance:0.44091576597976023rem; --position:23.435330404600467%; --time:8.773538799715226s; --delay:-10.771827360520064s;">
        </div>
        <div
          class="bubble"
          style="--size:38.042837729539855rem; --distance:0.39307692453932064rem; --position:124.22022890855403%; --time:7.469008757966508s; --delay:-11.820758747339212s;">
        </div>
        <div
          class="bubble"
          style="--size:44.89190180381543rem; --distance:3.621261527668247rem; --position:15.353616906498544%; --time:7.9817108598115585s; --delay:-10.500913903307199s;">
        </div>
        <div
          class="bubble"
          style="--size:12.309050922229146rem; --distance:3.384937503341754rem; --position:186.9841668621656%; --time:8.551956240693336s; --delay:-11.946066771179316s;">
        </div>
        <div
          class="bubble"
          style="--size:35.895714648477735rem; --distance:2.185520723625646rem; --position:104.33866476009929%; --time:8.096075942126399s; --delay:-11.621592064509226s;">
        </div>
        <div
          class="bubble"
          style="--size:19.597788428747727rem; --distance:0.030625805779406212rem; --position:192.20486982643354%; --time:7.45696035435061s; --delay:-10.938798634203344s;">
        </div>
        <div
          class="bubble"
          style="--size:5.641695378315967rem; --distance:4.938764872318023rem; --position:183.5322104729046%; --time:8.714000165325228s; --delay:-10.856580777687757s;">
        </div>
        <div
          class="bubble"
          style="--size:40.58985391676144rem; --distance:1.7890511964940825rem; --position:108.04146600557013%; --time:7.972861168046908s; --delay:-11.489531897133237s;">
        </div>
        <div
          class="bubble"
          style="--size:39.58394109216692rem; --distance:1.7746789593688805rem; --position:196.69124323727794%; --time:8.555876551875096s; --delay:-10.952575472685766s;">
        </div>
        <div
          class="bubble"
          style="--size:10.523388936622382rem; --distance:2.4284500789005428rem; --position:7.266376115615703%; --time:7.369322141401214s; --delay:-11.629870885087898s;">
        </div>
        <div
          class="bubble"
          style="--size:6.476502244554299rem; --distance:2.4283091112077537rem; --position:3.240700445782526%; --time:7.63997320667221s; --delay:-11.482499107400262s;">
        </div>
        <div
          class="bubble"
          style="--size:22.029225841759718rem; --distance:0.8554035307833507rem; --position:231.9390435201981%; --time:8.073290201801793s; --delay:-11.905788834023099s;">
        </div>
        <div
          class="bubble"
          style="--size:16.536947251838292rem; --distance:2.5176973518811385rem; --position:275.9079464957131%; --time:7.9954097523675784s; --delay:-10.515436137314113s;">
        </div>
        <div
          class="bubble"
          style="--size:43.25641532014097rem; --distance:4.561399437133893rem; --position:162.1376348465412%; --time:7.814659840854862s; --delay:-10.905878928538177s;">
        </div>
        <div
          class="bubble"
          style="--size:42.22145537865717rem; --distance:3.301013830998314rem; --position:140.9075215540924%; --time:7.56943120510674s; --delay:-10.874544935425504s;">
        </div>
        <div
          class="bubble"
          style="--size:33.931172457145955rem; --distance:3.2262393552024884rem; --position:73.20595768353013%; --time:7.264476472233495s; --delay:-11.389665765212557s;">
        </div>
        <div
          class="bubble"
          style="--size:24.55670798337046rem; --distance:3.3100571800066323rem; --position:189.60880015894256%; --time:7.745731215380122s; --delay:-10.004614295920451s;">
        </div>
        <div
          class="bubble"
          style="--size:17.116127357008537rem; --distance:0.908782714064883rem; --position:44.602294867291285%; --time:8.181911375751453s; --delay:-11.483963026732809s;">
        </div>
        <div
          class="bubble"
          style="--size:29.757107287314632rem; --distance:0.9383506037896683rem; --position:291.1291512683878%; --time:8.999868451432267s; --delay:-10.985812053933351s;">
        </div>
        <div
          class="bubble"
          style="--size:23.06414101801679rem; --distance:0.22226871647986646rem; --position:34.13752740436755%; --time:7.196342482481979s; --delay:-10.019255644014134s;">
        </div>
        <div
          class="bubble"
          style="--size:42.84112888343384rem; --distance:4.470800209672201rem; --position:158.54820638551465%; --time:7.581093830315963s; --delay:-10.846496021350774s;">
        </div>
        <div
          class="bubble"
          style="--size:18.60007020084451rem; --distance:0.7854348872697225rem; --position:9.92291869675842%; --time:7.2648813732240045s; --delay:-10.323993207515834s;">
        </div>
        <div
          class="bubble"
          style="--size:20.51741324019547rem; --distance:4.841101015720307rem; --position:11.201267712398556%; --time:7.409692713752906s; --delay:-11.401680124028594s;">
        </div>
        <div
          class="bubble"
          style="--size:35.76074726447747rem; --distance:2.5762068953443986rem; --position:303.48255276699354%; --time:8.101614703972714s; --delay:-11.251168689073298s;">
        </div>
        <div
          class="bubble"
          style="--size:43.02477297344957rem; --distance:4.864483276491383rem; --position:203.79155036619505%; --time:7.986771865162643s; --delay:-11.890707527585915s;">
        </div>
        <div
          class="bubble"
          style="--size:9.984043010746051rem; --distance:1.3541946762658619rem; --position:281.99968204203384%; --time:7.605817289489945s; --delay:-11.531967252664975s;">
        </div>
        <div
          class="bubble"
          style="--size:11.573236650817966rem; --distance:2.1035018696183805rem; --position:64.36547552174743%; --time:7.845752047404384s; --delay:-11.983809862600125s;">
        </div>
        <div
          class="bubble"
          style="--size:30.617853148788647rem; --distance:3.1321972568484546rem; --position:271.37767400822065%; --time:7.725577619333s; --delay:-10.405040159740947s;">
        </div>
        <div
          class="bubble"
          style="--size:37.272051005662064rem; --distance:3.4296252270943617rem; --position:8.453590459915906%; --time:8.828637184832939s; --delay:-10.197194089078344s;">
        </div>
        <div
          class="bubble"
          style="--size:32.99949726122151rem; --distance:2.372599897670311rem; --position:243.22914680588602%; --time:8.557705990704711s; --delay:-10.5792225049173s;">
        </div>
        <div
          class="bubble"
          style="--size:36.05949065695491rem; --distance:1.7803775327381977rem; --position:112.53351147893865%; --time:7.974200601067164s; --delay:-11.723436830487772s;">
        </div>
        <div
          class="bubble"
          style="--size:24.52538424849836rem; --distance:3.1254106769734733rem; --position:130.63508098903338%; --time:7.600538373400754s; --delay:-11.031368885571354s;">
        </div>
      </div>
    </div>
  </div>
</div>
<svg style="position: fixed; top: 100vh">
  <defs>
    <filter id="blob">
      <feGaussianBlur
        in="SourceGraphic"
        stdDeviation="10"
        result="blur"
      ></feGaussianBlur>
      <feColorMatrix
        in="blur"
        mode="matrix"
        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
        result="blob"
      ></feColorMatrix>
    </filter>
  </defs>
</svg>

<style>
  .waves-container {
    --waves-color-1: 200 70% 83%;
    --waves-color-2: 300 51% 90%;
    --waves-background: 214 63% 9%;
    --footer-background: linear-gradient(
      90deg,
      hsl(var(--waves-color-1)),
      hsl(var(--waves-color-2))
    );
    position: absolute;
    inset: 0;
    z-index: -1;
  }
  .waves {
    display: grid;
    grid-template-rows: 1fr 10rem auto;
    grid-template-areas: "main" "." "footer";
    min-height: 100vh;
    background-color: hsl(var(--waves-background));
    overflow: hidden;
  }
  .footer {
    z-index: 1;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
  }
  .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    filter: url("#blob");
  }
  .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    animation:
      bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
      bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
  }

  @keyframes bubble-size {
    0%,
    75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
</style>
